.AboutDisplay {
    margin-left: 10vw;
    margin-right: 10vw;

}

.AboutDisplay p {
    display: block;
    width: 100vw;
    font-size: 5vw;
}


.AboutDisplay-skills {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 80vw;
    margin-bottom: 200px;
}

.AboutDisplay-skills h6 {
    font-size: 1.5vw;
    margin-top: 0px;
}
.dev-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 10vw;
    row-gap: 2vw;
    padding: 5px;
}