.Nav{
    background-color: cadetblue;
    display: flex;
    justify-content: space-between;
    height: 10vh;
    margin: 1.5vh 1.5vh;
    border: 5px solid black;
    box-shadow: 0px 0px 15px 10px rgb(62, 70, 68);

}

.Nav-site-title{
    justify-content: center;
    display: flex;
    margin-left: 5vw;
}

.Nav-links{
    margin: 2vh 2vw;
}

.Nav a{
    margin: 40px auto auto 20px;
    
}

a.active{
    font-weight: bold;
    font-size: 3vh;
  }

@media only screen and (max-width:1080px) {
    .Nav{
        flex-direction: column;
    }
    
    .Nav-links-browser{
        visibility: hidden;
    }

    .Nav-site-title{
        justify-content:flex-start;
        display: flex;
        margin-left: 5vw;
        height: 3vh;
    }
    
    .Nav a{
        margin: 2px;
        font-size: 5vh;
        text-decoration: none;
    }
}
