.Nav{
    background-color: cadetblue;
    display: flex;
    justify-content: space-between;
    height: 10vh;
<<<<<<< HEAD
    margin: 1vh;
    border: 2px solid black;
=======
    margin: .5vh .5vh;
    border: 5px solid black;
>>>>>>> 1065aa6c2fd9987487a07d3eed573201b70e154f
}

.Nav-site-title{
    justify-content: center;
    display: flex;
    margin-left: 5vw;
}

.Nav-links{
    margin: 2vh 2vw;
}


.Nav a{
    margin: 40px auto auto 20px;
    
}

@media only screen and (max-width:1080px) {
    .Nav{
        height: 10vh;
        flex-direction: column;
    }
    
    .Nav-links{
        margin:0vh;
        display:flex;
        justify-content: space-between;
    }

    .Nav-site-title{
        justify-content:flex-start;
        display: flex;
        margin-left: 5vw;
        height: 3vh;
    }
    
    .Nav a{
        margin: 2px;
        width: 20vw;
        font-size: 2vh;
    }
}
